<div class="row">
  <div class="large-centered columns gm_search_box">
    <div class ="row">
      <div id="sign_in" class="large-6 columns">
        <h4>Sign up</h4>

        <%= render 'users/form', :local => {:@user => @user}  %>
      </div>

      <div id="log-in" class="large-6 columns">
        <h4>Log In</h4>

        <%= form_tag sessions_path do %>
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %><br>

          <%= label_tag :password %>
          <%= password_field_tag :password %><br>

          <% if !@favorite.nil? %>
            <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">
          <% end %>

          <%= submit_tag %>
        <% end %>
      </div>
    </div>
  </div>
</div>