<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %><br>

  <%= label_tag :password %>
  <%= password_field_tag :password %><br>

  <% if !@favorite.nil? %>
    <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">
  <% end %>

  <%= submit_tag %>
<% end %>

<hr>

<h1>Sign up</h1>

<%= render 'users/form', :local => {:@user => @user}  %>