<div class="row">
  <div class="large-centered columns gm_search_box">
    <h3>Where would you like to go today?</h3>
    <hr>

<%= render 'form' %>

  <% if !current_user.nil? %>

      <br>
      <hr>

      <% @user.favorites.each do |favorite| %>
      <p id="favorite_show">Name: <%= favorite.name %> |
      Route: From <%= favorite.from %> to <%= favorite.to %> |
   <!--    Looking for:  <%#= favorite.searches.pluck("name").join(", ") %> -->

      <%= link_to 'Show', favorite_path(favorite.id) %> |
      <%= link_to 'Edit', edit_favorite_path(favorite.id) %> |
      <%= link_to 'Destroy', favorite_path(favorite.id), method: :delete %></p>
      <% end %>
  <% end %>

  </div>
</div>

<!-- if logged in , show previous favorites with link to show it -->


