<h1>Where would you like to go today?</h1>

<%= render 'form' %>

<!-- if logged in , show previous favorites with link to show it -->

<% if !current_user.nil? %>
  <% @user.favorites.each do |favorite| %>
  <p><%= @favorite.name %></p>
  <p>Route: From <%= favorite.from %> to <%= favorite.to %> |
  <%= link_to 'Edit', edit_favorite_path(favorite.id) %> |
  <%= link_to 'Destroy', favorite_path(favorite.id), method: :delete %>
  <% end %>
<% end %>
