<p id="notice"><%= notice %></p>


<p>Yelp Query</p>
<% @favorite.searches.each do |x| %>
  <%= x.name  %>
  <%= x.favorite_id %>
  <% end %>
<p>
  <b>Name:</b>
  <%= @favorite.name %>
</p>

<p>Yelp Query</p>

<%= link_to 'Save to Favorites', save_favorite_path(:user => {:favorite_id => @favorite.id}) %>
<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Destroy', @favorite, method: :delete %>


<br>
  <%
    data_hash = {"from" => @favorite.from, "to" => @favorite.to}
  %>
  <%= gmaps({ "direction" => {"data" => data_hash}}) %>



