<%= form_for @search do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field large-6 large-centered columns">
      <div class="field">
        <%= f.label :yelp_query %><br />
        <%= f.text_field :yelp_query %>
      </div>
    </div>

    <% if !@favorite.nil? %>
    <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">
    <% end %>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
