<%= form_for @search, :url => favorite_path(@favorite.id) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
