<div class="row">
  <div class="small-6 large-centered columns gm_search_box">
    <h3>Here are all of the things you want to do on your route</h3>

      <% @favorite.searches.each do |search| %>
      <p>
        <%= search.name %>
        - <%= search.yelp_query %>
        <%= link_to 'Destroy', search, method: :delete %></p>

      <% end %>

      <%= link_to 'Add something new to do', yelp_search_path(@favorite.id) %>

      <br>

      <h4>To continue to map, click Submit</h4>
      <%= link_to 'Submit', favorite_path(@favorite.id) %>
  </div>
</div>

