<div class="row">
  <div id="gm_search_box" class="small-6 large-centered columns">
      <h1>Where would you like to go today?</h1>
      <hr>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div></p>
      <p>To:</p>

    </div>
</div>